{% extends 'base.html.twig' %}

{% block body %}
    <h1>Willkommen {{ name }}!</h1>
    <p> {{ pokemon.name }}</p>

    <a class="btn btn-primary" href="{{ path('seminar')}} " )>Link</a>
{% endblock %}